.top-nav{
   /* width: 100%; */
    display: grid;
    grid-template-columns: 30rem 1fr  3rem;
    margin-left: 4%;
    
   

}
.link{
grid-column: 2/3;
}
.link a{
    color: black;
}
.link ul{
    /* height: 5rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}